:root {
  --color-text: #252525;
  --color-text-fade: #cecece;

  --color-bg: #ffffff;
  --color-bg-emph: #f3f3f4;
  --color-primary: #458488;
}

html.dark-mode {
  --color-text: #ebdbb2;
  --color-text-fade: #a89984;

  --color-bg: #282828;
  --color-bg-emph: #1d2021;
  --color-primary: #458488;
}

* {
  transition: background-color 150ms ease-out, color 150ms ease-out;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inconsolata", monospace;
  color: var(--color-text);
}

html {
  background-color: var(--color-bg);
}

main {
  padding: 0 32px;
  max-width: 800px;
  margin: 32px auto 0 auto;
  min-height: 100vh;
}

p,
li {
  font-family: Inconsolata, monospace;
  font-size: 18px;
  letter-spacing: 0.02em;
  line-height: 1.6em;
}

a {
  color: var(--color-primary);
  text-decoration: underline;
}

a:visited {
  color: var(--color-primary);
}

p,
img,
pre,
blockquote,
ul,
ol {
  margin-bottom: 32px;
}

ul,
ol {
  padding: 0 0 0 32px;
}

ul {
  list-style-type: none;
}

ol {
  counter-reset: item;
}

ol > li {
  list-style-type: none;
  counter-increment: item;
}

ol > li:before,
ul > li::before {
  display: inline-block;
  width: 1em;
  padding-right: 0.5em;
  font-weight: bold;
  text-align: right;
}

ol > li:before {
  content: counter(item) ".";
}

ul > li::before {
  content: "- ";
}

p + ul,
p + ol {
  margin-top: -32px;
}

pre,
blockquote,
img {
  border-radius: 8px;
}

blockquote {
  background-color: var(--color-bg-emph);
  padding: 1rem;
}

blockquote > p {
  margin: 0;
}

p > code {
  background-color: var(--color-bg-emph);
  padding: 0 4px;
  border-radius: 3px;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  width: 600px;
}

li {
  list-style-position: inside;
}

h1 {
  max-width: 600px;
  font-family: "Inter", sans-serif;
  text-align: center;
  margin: 1rem auto;
}

h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1rem;
  font-family: "Inter", sans-serif;
}

h2::before,
h3::before,
h4::before,
h5::before,
h6::before {
  content: "# ";
  color: var(--color-text-fade);
}

header {
  position: sticky;
  left: 0;
  top: 0;
  background-color: var(--color-bg);
  padding: 8px 32px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > a {
  color: var(--color-text);
  font-size: 32px;
  text-decoration: none;
}

header > a:visited {
  color: var(--color-text);
  font-size: 32px;
  text-decoration: none;
}

header > div {
  display: flex;
  gap: 16px;
  align-items: center;
}

header svg path {
  fill: var(--color-text);
}

#mode-toggle {
  cursor: pointer;
  display: flex;
  outline: none;
  background-color: var(--color-bg-emph);
  border: 2px solid var(--color-text);
  border-radius: 100px;
  gap: 8px;
  padding: 4px 6px;
  position: relative;
}

#mode-toggle > img {
  max-width: 16px;
  max-height: 16px;
}

#mode-toggle-dot {
  transition: transform 150ms cubic-bezier(0.33, 1, 0.68, 1);
  position: absolute;
  top: -1px;
  left: -1px;
  width: 26px;
  height: 26px;
  background-color: var(--color-text);
  border-radius: 100px;
}

html.dark-mode #mode-toggle-dot {
  transform: translateX(28px);
}

footer {
  margin-top: 64px;
  border-top: 2px var(--color-text-fade) dashed;
  padding-top: 16px;

  display: flex;
  flex-wrap: wrap;
}

#intro {
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  gap: 16px;
}

#intro > p {
  margin: 0;
}

#intro > img {
  display: block;
  width: 128px;
  height: 128px;
  margin: 0;
  border-radius: 1000px;
}

.card {
  color: var(--color-text);
  text-decoration: none;
  margin-bottom: 32px;
}

.card h2 {
  font-family: "Inter", sans-serif;
  color: var(--color-text);
  width: 100%;
  margin: 0;
  padding: 4px 0 8px 0;
}

.card a:hover h2::before {
  color: var(--color-primary);
}

.card a {
  color: var(--color-text);
  text-decoration: none;
}

.card a:visited {
  color: var(--color-text);
}

a.tag {
  display: inline-block;
  padding: 4px 8px;
  background-color: var(--color-bg-emph);
  color: var(--color-text);
  border-radius: 4px;
  margin-bottom: 8px;
  text-decoration: none;
}

a.tag:visited {
  color: var(--color-text);
}

a.tag:hover {
  background-color: var(--color-text-fade);
}

@media screen and (max-width: 600px) {
  main {
    padding: 0 16px;
  }

  header {
    padding: 8px 16px;
  }

  #intro {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
